/* color of the topnav bar */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* links inside navbar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* hover */
.topnav a:hover {
  color: #8d5fe3;
}

/* padded page content to match the topnav */
.page {
  padding-left: 3px;
  font-family: Arial, sans-serif;
}

/* color of the topnav bar */
.mininav {
  background-color: #502c83;
  overflow: hidden;
}

/* links inside navbar */
.mininav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial, sans-serif;
}

/* hover */
.mininav a:hover {
  color: #8d5fe3;
}

* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 8px;
}

.left {
  width: 15%;
}

.right {
  width: 85%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
